.header {
  background-color: white;
  display: flex;
  padding: 10px;
}

.app_logo {
  width: 40px;
  height: 40px;
}

#app_name {
  margin-left: 10px;
  font-family: 'Poppins', sans-serif;
}

.header div {
  display: flex;
  align-items: center;
}

.left {
  justify-content: start;
  flex: 30%;
}

.right {
  flex: 70%;
  justify-content: end;
}

.navList {
  list-style: none;
  display: flex;
  margin-right: 10px;
  align-items: center;
}

.navLink {
  text-decoration: none;
  color: black;
}

.navItem {
  font-family: 'roboto', sans-serif;
  padding: 8px;
}

.navLink:hover {
  color: rgb(192, 0, 192);
}
.navLink:focus {
  color: purple;
}

.navList a {
  text-decoration: none;
}
.nav_button {
  font-family: 'roboto', sans-serif;
  padding: 10px;
  border: none;
  border-radius: 25px;
  color: white;
  margin-left: 5px;
}

.nav_button:hover {
  opacity: 0.5;
}

.btn_youtube {
  background-color: rgb(226, 0, 0);
}

.btn_ecampus {
  background-color: blue;
}
