.slist_container {
  padding: 8px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 850px) {
  .slist_container {
    display: none;
  }
}
